<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">Data Organization in Spreadsheets</h3>
    <ul>
      <li>Setup & Data</li>
      <li>Introduction</li>
      <li>Formatting data tables in Spreadsheets</li>
      <li>Dates as data</li>
      <li>Quality assurance</li>
      <li>Exporting data</li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3 id="syllabus-r">Open Refine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data to OpenRefine</li>
      <li>Filtering and sorting with OpenRefine</li>
      <li>Examining numbers in OpenRefine</li>
      <li>Using scripts</li>
      <li>Exporting and saving data from OpenRefine</li>
      <li>Other resources for OpenRefine</li>
      <li><a href="https://datacarpentry.org/openrefine-socialsci/reference/">Reference...</a></li>
    </ul>
  </div>

</div>
